.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop1 {
  width: 100%;
  height: 5802px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-photo202303012227291 {
  top: 220px;
  left: -10px;
  width: 1460px;
  height: 616px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 387px;
  left: 106px;
  color: var(--dl-color-white-100);
  height: auto;
  position: absolute;
  align-self: auto;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) ;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-button1 {
  top: 567px;
  left: 112px;
  width: 168px;
  display: flex;
  padding: 20px 10px;
  position: absolute;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) ;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  justify-content: center;
}
.desktop1-text009 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text011 {
  top: 296px;
  left: 106px;
  color: var(--dl-color-white-100);
  height: auto;
  position: absolute;
  align-self: auto;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) ;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text013 {
  top: 996px;
  left: 532px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text015 {
  top: 2281px;
  left: 504px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text017 {
  top: 3146px;
  left: 556px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text019 {
  top: 1637px;
  left: 106px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame12 {
  top: 1130px;
  left: 106px;
  width: 366px;
  height: 347px;
  display: flex;
  padding: 50px 15px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 30px;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame9 {
  display: flex;
  padding: 25px 20px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 169px;
  margin-bottom: 10px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop1-text021 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame10 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.desktop1-text023 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame11 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-text025 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame13 {
  top: 1136px;
  left: 520px;
  width: 371px;
  height: 347px;
  display: flex;
  padding: 50px 15px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 30px;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame91 {
  display: flex;
  padding: 25px 27px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 169px;
  margin-bottom: 10px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop1-text030 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame101 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.desktop1-text032 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame111 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-text034 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame14 {
  top: 1131px;
  left: 933px;
  width: 405px;
  height: 346px;
  display: flex;
  padding: 50px 15px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 30px;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame92 {
  display: flex;
  padding: 25px 17px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 169px;
  margin-bottom: 10px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop1-text041 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame102 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.desktop1-text043 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame112 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-text045 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text052 {
  top: 1044px;
  left: 529px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text054 {
  top: 2329px;
  left: 507px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text056 {
  top: 3194px;
  left: 585px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame19 {
  top: 1710px;
  left: 121px;
  width: 685px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.desktop1-frame18 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 5px;
  border-radius: 49px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop1-users {
  width: 64px;
  height: 64px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame17 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame15 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text058 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame16 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text060 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-frame20 {
  top: 1857px;
  left: 121px;
  width: 702px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.desktop1-frame181 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 5px;
  border-radius: 49px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop1-summer {
  width: 64px;
  height: 64px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame171 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame151 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text065 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame161 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text067 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame21 {
  top: 2004px;
  left: 121px;
  width: 689px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.desktop1-frame182 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 5px;
  border-radius: 49px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop1-futures {
  width: 64px;
  height: 64px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame172 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame152 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text072 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame162 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text074 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-maskgroup {
  top: 1693px;
  left: 942px;
  width: 392px;
  height: 405.0000915527344px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-frame26 {
  top: 0px;
  left: 0px;
  display: flex;
  padding: 20px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/075015d9-6992-4cb1-982a-81836aae156b-1mw-1500h.undefined");
}
.desktop1-unsplashzft-w1k--ehg {
  top: -112px;
  left: -94px;
  width: 543px;
  height: 725px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle1 {
  top: -13px;
  left: -24px;
  width: 439px;
  height: 453px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame25 {
  top: 20px;
  left: 59.5px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text079 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame22 {
  top: 100px;
  left: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-text081 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 30px;
}
.desktop1-line1 {
  width: 352px;
  height: 0px;
  position: relative;
}
.desktop1-frame23 {
  top: 173px;
  left: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-text083 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 30px;
}
.desktop1-line11 {
  width: 352px;
  height: 0px;
  position: relative;
}
.desktop1-frame24 {
  top: 246px;
  left: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-text085 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 30px;
}
.desktop1-line12 {
  width: 352px;
  height: 0px;
  position: relative;
}
.desktop1-button2 {
  top: 319.0001220703125px;
  left: 125px;
  display: flex;
  padding: 20px 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: content-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text087 {
  color: var(--dl-color-default-primary);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame44 {
  top: 2925px;
  left: 644px;
  width: 152px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame42 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 30px;
  border-radius: 30px;
  justify-content: center;
  background-color: var(--dl-color-black-25);
}
.desktop1-less-than {
  width: 41px;
  height: 41px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame43 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  justify-content: center;
  background-color: var(--dl-color-black-25);
}
.desktop1-less-than1 {
  width: 41px;
  height: 41px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame79 {
  top: 3280px;
  left: 0px;
  width: 1439px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.desktop1-frame50 {
  top: 0px;
  left: 0px;
  width: 377px;
  display: flex;
  padding: 30px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 15px;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame48 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-frame5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 24px;
}
.desktop1-maskgroup1 {
  width: 84px;
  height: 84px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-ellipse1 {
  top: 0px;
  left: 0px;
  width: 84px;
  height: 84px;
  position: absolute;
  border-color: transparent;
}
.desktop1-photo202303012234201 {
  top: -13px;
  left: -56px;
  width: 164px;
  height: 109px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame47 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame45 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text089 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame46 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text091 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame49 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-text093 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame51 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-star1 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star2 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star3 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star4 {
  width: 20px;
  height: 20px;
  position: relative;
}
.desktop1-frame511 {
  top: 0px;
  left: 437px;
  width: 377px;
  display: flex;
  padding: 30px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 15px;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame481 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-frame51 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 24px;
}
.desktop1-maskgroup2 {
  width: 84px;
  height: 84px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-ellipse11 {
  top: 0px;
  left: 0px;
  width: 84px;
  height: 84px;
  position: absolute;
  border-color: transparent;
}
.desktop1-photo2023030122342011 {
  top: -13px;
  left: -56px;
  width: 164px;
  height: 109px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame471 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame451 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text100 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame461 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text102 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame491 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-text104 {
  color: rgba(0, 0, 0, 1);
  width: 317px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame512 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-star11 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star21 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star31 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star41 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star5 {
  width: 20px;
  height: 20px;
  position: relative;
}
.desktop1-frame52 {
  top: 0px;
  left: 874px;
  width: 377px;
  display: flex;
  padding: 30px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 15px;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame482 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-frame52 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 24px;
}
.desktop1-maskgroup3 {
  width: 84px;
  height: 84px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-ellipse12 {
  top: 0px;
  left: 0px;
  width: 84px;
  height: 84px;
  position: absolute;
  border-color: transparent;
}
.desktop1-photo2023030122342012 {
  top: -13px;
  left: -56px;
  width: 164px;
  height: 109px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame472 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame452 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text106 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame462 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text108 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame492 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-text110 {
  color: rgba(0, 0, 0, 1);
  width: 317px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame513 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-star12 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star22 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star32 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star42 {
  width: 20px;
  height: 20px;
  position: relative;
}
.desktop1-frame53 {
  top: 0px;
  left: 1311px;
  width: 377px;
  display: flex;
  padding: 30px;
  position: absolute;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 15px;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame483 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-frame53 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 24px;
}
.desktop1-maskgroup4 {
  width: 84px;
  height: 84px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-ellipse13 {
  top: 0px;
  left: 0px;
  width: 84px;
  height: 84px;
  position: absolute;
  border-color: transparent;
}
.desktop1-photo2023030122342013 {
  top: -13px;
  left: -56px;
  width: 164px;
  height: 109px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame473 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame453 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text112 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame463 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text114 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame493 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-text116 {
  color: rgba(0, 0, 0, 1);
  width: 317px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame514 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-star13 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star23 {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 0px;
}
.desktop1-star33 {
  width: 20px;
  height: 20px;
  position: relative;
}
.desktop1-frame54 {
  top: 3624px;
  left: 687px;
  width: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-ellipse2 {
  width: 18px;
  height: 18px;
  position: relative;
  border-color: transparent;
  margin-right: 30px;
}
.desktop1-ellipse3 {
  width: 18px;
  height: 18px;
  position: relative;
  border-color: transparent;
}
.desktop1-group5 {
  top: 3802px;
  left: -138px;
  width: 1702px;
  height: 1160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-maskgroup5 {
  top: 0px;
  left: 0px;
  width: 1702px;
  height: 1160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.desktop1-unsplashzft-w1k--ehg1 {
  top: 0px;
  left: 97px;
  width: 1522px;
  height: 1176px;
  position: absolute;
  border-color: transparent;
}
.desktop1-rectangle7 {
  top: -9px;
  left: 62px;
  width: 1592px;
  height: 1185px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame62 {
  top: 3897px;
  left: 79px;
  width: 1268px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop1-frame57 {
  display: flex;
  padding: 48px 30px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.desktop1-frame55 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 60px;
  flex-direction: column;
}
.desktop1-frame60 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 5px;
}
.desktop1-text118 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame59 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text120 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame56 {
  width: 650px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  margin-bottom: 60px;
  background-color: var(--dl-color-white-100);
}
.desktop1-text122 {
  color: var(--dl-color-black-25);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame571 {
  width: 650px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  margin-bottom: 60px;
  background-color: var(--dl-color-white-100);
}
.desktop1-text124 {
  color: var(--dl-color-black-25);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame58 {
  width: 650px;
  height: 300px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  margin-bottom: 60px;
  background-color: var(--dl-color-white-100);
}
.desktop1-text126 {
  color: var(--dl-color-black-25);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-button21 {
  display: flex;
  padding: 20px 10px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: content-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text128 {
  color: var(--dl-color-default-primary);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame61 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-photo202303012219561 {
  width: 538px;
  height: 655px;
  position: relative;
  border-color: transparent;
}
.desktop1-rectangle8 {
  top: 5122px;
  left: -29px;
  width: 1497px;
  height: 680px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame68 {
  top: 5266px;
  left: 106px;
  width: 289px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame65 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 60px;
  flex-direction: column;
}
.desktop1-frame64 {
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text130 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame63 {
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text132 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame67 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame66 {
  display: flex;
  padding: 0 15px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 20px;
}
.desktop1-facebook {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 30px;
}
.desktop1-twitter {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 30px;
}
.desktop1-instagram {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-text137 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame76 {
  top: 5266px;
  left: 508px;
  width: 366px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame69 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 60px;
  flex-direction: column;
}
.desktop1-frame641 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text139 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame631 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text141 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame651 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text143 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame70 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame642 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text145 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame632 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text147 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 20px;
  margin-bottom: 0;
}
.desktop1-text149 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 20px;
  margin-bottom: 0;
}
.desktop1-text151 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame652 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text153 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame75 {
  top: 5266px;
  left: 987px;
  width: 348px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame71 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 60px;
  flex-direction: column;
}
.desktop1-frame643 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 30px;
}
.desktop1-text155 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame73 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-frame633 {
  display: flex;
  padding: 10px 20px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text157 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame72 {
  width: 348px;
  height: 20px;
  position: relative;
}
.desktop1-frame74 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop1-button11 {
  display: flex;
  padding: 20px 10px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) ;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  margin-bottom: 30px;
  justify-content: center;
}
.desktop1-text159 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text161 {
  color: var(--dl-color-white-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame78 {
  top: 2415px;
  left: 2px;
  width: 1436px;
  height: 450px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.desktop1-group6 {
  top: 0px;
  left: 0px;
  width: 391px;
  height: 430px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle2 {
  top: 0px;
  left: 0px;
  width: 391px;
  height: 304px;
  position: absolute;
  border-color: transparent;
}
.desktop1-group3 {
  top: 259px;
  left: 28px;
  width: 335px;
  height: 26px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-frame29 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame28 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-calendar {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame27 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text163 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame30 {
  top: 0px;
  left: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame281 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-clock {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame271 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text165 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame33 {
  top: 304px;
  left: 0px;
  width: 391px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame32 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text167 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame31 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text169 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-group8 {
  top: 0px;
  left: 842px;
  width: 391px;
  height: 450px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle4 {
  top: 0px;
  left: 0px;
  width: 391px;
  height: 304px;
  position: absolute;
  border-color: transparent;
}
.desktop1-group2 {
  top: 259px;
  left: 32px;
  width: 327px;
  height: 26px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-frame37 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame282 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-calendar1 {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame272 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text174 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame38 {
  top: 0px;
  left: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame283 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-clock1 {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame273 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text176 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame40 {
  top: 304px;
  left: 0px;
  width: 391px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame321 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text178 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame311 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text180 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-group9 {
  top: 0px;
  left: 1263px;
  width: 391px;
  height: 430px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle5 {
  top: 0px;
  left: 0px;
  width: 391px;
  height: 304px;
  position: absolute;
  border-color: transparent;
}
.desktop1-group4 {
  top: 259px;
  left: 32px;
  width: 335px;
  height: 26px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-frame371 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame284 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-calendar2 {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame274 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text187 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame381 {
  top: 0px;
  left: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame285 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-clock2 {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame275 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text189 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame41 {
  top: 304px;
  left: 0px;
  width: 391px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame322 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text191 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame312 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text193 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-group7 {
  top: 0px;
  left: 421px;
  width: 391px;
  height: 450px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-rectangle3 {
  top: 0px;
  left: 0px;
  width: 391px;
  height: 304px;
  position: absolute;
  border-color: transparent;
}
.desktop1-group1 {
  top: 259px;
  left: 37px;
  width: 317px;
  height: 26px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-frame34 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame286 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-calendar3 {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame276 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text198 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame35 {
  top: 0px;
  left: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-frame287 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.desktop1-clock3 {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
}
.desktop1-frame277 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text200 {
  color: var(--dl-color-white-100);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame36 {
  top: 304px;
  left: 0px;
  width: 391px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: var(--dl-color-default-secondary);
}
.desktop1-frame323 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop1-text202 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-frame313 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop1-text204 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text211 {
  top: 250px;
  left: 375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
}
.desktop1-rectangle9 {
  top: 0px;
  left: -17px;
  width: 1488px;
  height: 222px;
  position: absolute;
  border-color: transparent;
}
.desktop1-tripple-j-college1 {
  top: 63px;
  left: 106px;
  width: 254px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.desktop1-frame77 {
  top: 178px;
  left: 169px;
  width: 129px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.desktop1-phone {
  width: 26px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 2px;
}
.desktop1-text213 {
  color: var(--dl-color-black-75);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-item-bar {
  top: 83px;
  left: 489px;
  width: 845px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.desktop1-frame1 {
  top: 0px;
  left: 0px;
  width: 86px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop1-text215 {
  color: var(--dl-color-white-100);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-frame2 {
  top: 0px;
  left: 86px;
  width: 92px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text217 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-frame3 {
  top: 0px;
  left: 178px;
  width: 125px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text219 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-frame4 {
  top: 0px;
  left: 303px;
  width: 112px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text221 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-frame54 {
  top: 0px;
  left: 415px;
  width: 164px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text223 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-frame6 {
  top: 0px;
  left: 579px;
  width: 164px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text225 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-frame7 {
  top: 0px;
  left: 743px;
  width: 102px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-white-100);
}
.desktop1-text227 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
